*{
    margin: 0px;
    padding: 0px;
    }
    body{
        background-image: url(cake3.webp);
        background-repeat: no-repeat;
        background-size: 1000px 600px;
    }
    #text1{
        color: gold;
        font-size: 60px;
        margin-top: 65px;
        margin-left: 60px;
    }
    #text2{
        color: blueviolet;
        font-size: 80px;
        margin-left: 70px;
    }
    button{
        height: 55px;
        width: 180px;
        background-color: purple;
        border-radius: 25px;
    }
    button a{
        color: white;
        font-size: 22px;
        text-decoration: none;
        font-weight: bold;
    }
    button:hover{
        background-color: white;
    }